.image-caption-container {
    text-align: center;
    max-width: auto;
    margin: auto;
    margin-bottom: 80px;
}
.image-caption-container img {
    width: 1208px;
    border-radius: 10px;  
    display: block;
    margin: auto;
    margin-bottom: 30px;
}

.image-caption {
    font-style: italic;
    width: 1060px;
    font-size: 18px;
   font-weight: 600;
    color: #626262;
    max-width: 90vw;
   
 
    font-family: "Work Sans", serif; 
    margin-left: auto;
    margin-right: auto;
    line-height: 21.11px;

    
}

.services-grid {
    display: grid;
    width: auto;
    margin: 50px auto 150px auto;
    gap: 50px;
    max-width: 1200px;
    
}

.service-card {
    background: white;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s ease-in-out;
}

.service-card:hover {
    transform: translateY(-5px);
}

.service-card img {
    border-radius: 10px;
    height: 240px;
    object-fit: cover;
    width: 100%;
    border-radius: 10px;
    margin-bottom: 15px;
}



h3 {
    font-size: 14px;
    /* margin: 10px 0; */
    color: black;
    font-family: "Montserrat", serif;
    font-weight: 700;
    line-height: 21.94px;
    text-align: left;
    
}

 .service-card p {
    font-size: 14px;
    font-weight: 400;
    text-align: justify;
   
    font-family: "Work Sans", serif; 
    color: #626262;
    /* padding: 0 10px; */
}

.services-section {
    max-width: 800px;
    margin: auto;
}

.section-subtitle {
    font-size: 16px;
    color: #626262;
    font-family: "Work Sans", serif;
    line-height: 16.42px;
    text-transform: uppercase;
    font-weight: 400;
    line-height: 18.77px;
    text-align: center;
}

.section-title {
    font-size: 64px;
    font-weight: 700;
    line-height: 78.02px;
    font-family: "Montserrat", serif;
    margin: 10px 0;
    text-align: center;
}

.highlight {
    color: #FF6B35;
    /* Orange color for 'Do' */
}

.section-description {
    font-size: 18px;
    color: #555;
    font-family: "Work Sans", serif;
    width: 816px;
    font-weight: 500;
    margin: auto;
    max-width: 90vw;
    
    text-align: center;
}