

    <nav class="navbar" id="header">
        <div class="navbar-brand">
            <img src="../image/general_image/five-nine-logo.png" alt="Five Nines Consulting Logo">
        </div>
        <button class="menu-button" onclick="toggleMenu()">☰</button>
        <ul class="nav-links">
            <li><a href="../index.html" class="active">Home</a></li>
            <li><a href="../company.html" class="active">Company</a></li>
            <li><a href="../services.html" class="active">Services</a></li>
            <li><a href="../blog.html" class="active">Blog</a></li>
            
        
        </ul>
        <a href="contact.html" class="active cont">Contact Us</a></li>
           
    </nav>
    <script src="../script.js"></script>
