<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Five Nines Consulting</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
        <link href="https://cdn.hugeicons.com/font/hgi-stroke-rounded.css" rel="stylesheet"
        >
        <link rel="stylesheet" href="https://sets.hugeicons.com/YOUR-SET-ID.css" crossorigin="anonymous">
    <link rel="stylesheet" href="../styles.css">
    <link rel="stylesheet" href="../styles/general_styles/nav_styles.css">
    <link rel="stylesheet" href="../styles/index_styles/styles.css">
    <link rel="stylesheet" href="../styles/general_styles/footer.css">
</head>

<body>

    <nav class="navbar">
        <div class="navbar-brand">
            <img src="../image/general_image/five-nine-logo.png" alt="Five Nines Consulting Logo">
        </div>
        <button class="menu-button" onclick="toggleMenu()">☰</button>
        <ul class="nav-links">
            <li><a href="../index.html" class="active">Home</a></li>
            <li><a href="../company.html" class="active">Company</a></li>
            <li><a href="../services.html" class="active">Services</a></li>
            <li><a href="../blog.html" class="active">Blog</a></li>
            
        
        </ul>
        <a href="contact.html" class="active cont">Contact Us</a></li>
           
    </nav>
    <script src="../script.js"></script>
  
</body>
</html>