.footer-bottom {
    background-color: #000;

    padding: 10px 0;
    text-align: center;
    margin: 0 20px;
}

.footer-bottom hr {
    border: none;
    border-top: 1px solid #444;

    margin-bottom: 10px;
    width: 100%;
}

.footer-bottom p {
    color: #fff;
    font-family: "Work Sans", serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 18.77px;
    text-transform: uppercase;
    margin: 0;
}


.contact-us {
    background-color: #000;
    padding: 20px;
    margin-left: 70px;
    margin-right: 70px;
}

.contact-us h3 {
    color: #fff;
    font-family: "Work Sans", serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 18.77px;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.contact-us hr {
    border: none;
    border-top: 1px solid #444;

    width: 100%;
}

.footer {
    background-color: #000;
    padding: 30px 20px;
    color: #d0cfc8;
}

.footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100%;
    margin: auto;
    padding: 20px;
}

.footer-column {
    flex: 1;
    margin: 10px 0;
    text-align: center;
}

.footer-column h3 {
    color: #fff;
    font-family: "Montserrat", serif;
    line-height: 19.5px;
    font-size: 14px;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 20px;
}

.footer-column ul {
    list-style: none;
    padding: 0;
}

.footer-column ul li {
    font-size: 12px;
    margin-bottom: 5px;
}

.footer-logo {
    margin-top: 5px;
    width: 149px;
    height: 59px;
    border-radius: 0;
    margin-bottom: 15px;
}

.social-links a {
    color: #C0BFB2;

    font-family: "Montserrat", serif;
    text-decoration: none;
    font-size: 24px;
    line-height: 29.26px;
    font-weight: 700;
    display: block;

    margin: 0;
    margin-bottom: 5px;
}

.social-links a:hover {
    color: #fff;

}

.quick-links a {
    color: #C0BFB2;
    font-family: "Work Sans", serif;
    text-decoration: none;

    font-weight: 500;
    display: block;
    margin: 5px 0;
}

.quick-links a:hover {
    color: #fff;
}


.mails {
    color: #C0BFB2;

    font-family: "Work Sans", serif;
    font-size: 16px;
    line-height: 18.77px;

    font-weight: 500;
    display: block;
    margin: 5px 0;
}

@media (min-width: 768px) {
    .footer-container {
        flex-direction: row;
        justify-content: space-between;
    }

    .footer-column {
        margin: 0 50px;
        text-align: left;
    }

    .footer-bottom {
        text-align: left;
        margin: 0 70px;
    }
}

@media (max-width: 768px) {
    .footer-container {
        padding: 10px;
    }

    .footer-column {
        margin: 5px 0;
    }

    .footer-bottom p {
        font-size: 12px;
    }
}